:root {
    --height-header: 130px; 
    --height-header-mobile: 100px;
}

:root {
    --azul: rgba(2, 77, 223, 1);
    --amarillo: #ffc107;
    --gris: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 

    width: 100%;

    margin: 0; 
    padding: 0; 
}

header {
    width: 100%; 
    height: var(--height-header);
    
    /*background-color: var(--azul);*/
    background-image: linear-gradient(to right, rgba(2, 77, 223, 0.8), rgba(2, 77, 223, 0.8)), url('../../img/Fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow: hidden; 

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
}
@media (max-width: 1000px) {
    header {
        height: var(--height-header-mobile);   
    }
}

/* LOGO */
.logo-container {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    text-align: center; 
    margin-top: 0;
}
.logo-container img {
    padding: 15px;
    max-height: var(--height-header); 
    object-fit: contain; 
}
@media (max-width: 1000px) {
    .logo-container img {
        max-height: var(--height-header-mobile);
        padding: 10px;
    }
}

/* HEADER BOTÓN MENÚ */
.btn-menu {
    color: white;
    background-color: transparent;
    border: none;
    padding: 5px;
    font-size: 40px;

    display:  none;

    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    cursor: pointer;
}
@media (max-width: 1000px) {
    .btn-menu {
        display: flex;
        font-size: 30px;
    }
}

.scale-btn {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.scale-btn:hover, .scale-btn:focus{
    transform: translateY(-50%) scale(1.3
    );
    opacity: 0.5;
    outline: none;
}
.scale-btn:active {
    transform: translateY(-50%) scale(0.9);
}





.wrapper {
    height: 100px; /* Altura del header */

    /* Botones a los extremos, logo al centro */
    padding: 10px 20px; /* Espaciado interno */
    background-color: rgba(5, 5, 5, 0.7);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    position: relative; /* Permite el centrado absoluto del logo */
}

/* HEADER BOTÓN INCIAR SESIÓN */
.btn-iniciarses§ion {
    background-color: transparent; /* Color de fondo */
    color: white; /* Color del texto */
    border: 2px solid #ffffff;
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    box-shadow: 0 0 2px #ffffff, /* Brillo sutil cerca del texto */ 0 0 5px #e0e0e0, /* Brillo medio grisáceo */ 0 0 8px #b0b0b0; /* Brillo difuso */
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Transición suave */
}

.btn-iniciarsesion:focus {
    outline: none; /* Elimina el contorno al enfocar */
}

.btn-iniciarsesion:hover {
    background-color: #ffffff; /* Color al pasar el cursor */
    color: black;

    transform: scale(1.1); /* Reduce ligeramente el tamaño */
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.6); /* Sombra suave */
}

.btn-iniciarsesion:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
}

/* BOTÓN PÉRFIL */
.btn-perfil img {
    max-width: 50px; /* Ajusta el tamaño del logo */
    transition: transform 0.3s ease-in-out; /* Transición suave para la imagen */
}

.btn-perfil {
    background-image: url('../../img/user-icon.png');
    width: 50px;
    height: 50px;
    cursor: pointer; /* Cursor de mano */
    transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;

    border-radius: 50%;
    border: 2px solid white;

    background-size: cover; /* O usa 'contain' si quieres ver toda la imagen */
    background-position: center;
    background-repeat: no-repeat;
}

.btn-perfil:hover, .btn-perfil:focus {
    transform: scale(1.1); /* Reduce ligeramente el tamaño */
    opacity: 0.5;
    outline: none;
}

.btn-perfil:active {
    transform: scale(0.9); /* Reduce ligeramente el tamaño */
}


/* Barra lateral */
#sidebar {
    width: 450px;
    height: calc(100vh - var(--height-header));

    display: flex;
    position: fixed;

    left: -260px;
    top: var(--height-header);

    z-index: 999;

    flex-direction: column;

    background-color: rgba(0, 83, 170, 0.7);
    backdrop-filter: blur(10px);

    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;

    opacity: 1;
}

@media (max-width: 1000px) {
    #sidebar {
        width: 100%;
        height: calc(100vh - var(--height-header-mobile));
        top: var(--height-header-mobile);
    }
}

#sidebar.expand {
    transform: translateX(260px);
    opacity: 1;
}

.sidebar-space {
    background-color: #393939;
    width: 100%;
    height: 12px;
}

.sidebar-separator {
    padding: 0.8rem 1.8rem 0.2rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
}


.sidebar-link {
    color: #fff;
    text-decoration: none;
}


/* Icono */
.sidebar-link i {
    font-size: 1.15rem;
}

.sidebar-link span {
    margin-left: 10px;

    font-size: 1rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
}

.sidebar-link i {
    font-size: 1.15rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #ffffff;
    width: 100%;
}

.sidebar-nav {
    padding: 10px 0px 10px 0px;
    flex: 1 1 auto;
}

.sidebar-footer {
    display: flex;
    align-items: center;
}


.main {
    margin-top: var(--height-header);
    width: 100%;

    display: grid;
    grid-template-columns: 25% 50% 25%; 
    align-items: start;
}
@media screen and (max-width: 1000px) {
    .main {
        margin-top: var(--height-header-mobile); 
        grid-template-columns: 100%; /* Solo una columna */
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenido { 
        width: 90%;
    }
    .opciones, .perfil {
        display: none;
    }
}

.opciones, .perfil {
    position: sticky;
    top: calc(var(--height-header) + 20px);
    align-self: start; 
    background-color: white;
}

.perfil {
    padding: 0 50px;
    
}

.opciones::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 60px; 
    width: 1px; 
    height: calc(100vh - var(--height-header));
    background-color: rgb(200, 200, 200);
}

.contenido {
    background-color: white;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    padding-top: 20px;
}



.box-crear-publicacion {
    width: 100%;

    background-color: white;
    border-radius: 15px;
    overflow: hidden;

    border: 1px solid var(--gris);

    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);

    text-decoration: none;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.box-crear-publicacion:hover, .box-crear-publicacion:focus {
    transform: scale(1.05);
    text-decoration: none;
}

.box-crear-publicacion-header {
    width: 100%;

    padding: 15px 20px;

    display: flex;
    align-items: center;

    gap: 15px;
}
.box-crear-publicacion-header-foto {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.box-crear-publicacion-header-foto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.box-crear-publicacion-header-texto {
    width: 100%;
    height: 50px;

    background-color: var(--gris);
    color: black;
    border: 1px solid black;

    border-radius: 20px;
    padding: 10px 20px;

    display: flex;
    align-items: center;
}

.box-crear-publicacion-footer {
    width: 100%;
    height: 50px;

    background-color: white;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}
.box-crear-publicacion-footer i {
    font-size: 20px;
    color: var(--primer-color);
}
.box-crear-publicacion-footer span {
    font-size: 15px;
    color: var(--primer-color);
}



.box-publicacion {
    width: 100%;
    background-color: white;
    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.box-publicacion-header {
    background-color: white;
    
    width: 100%;
    height: 50px;

    padding: 10px;

    display: flex;
    align-items: center;
}

.box-publicacion-header-user {
    height: 100%;
    width: 30px;

    margin-right: 10px;

    background-image: url('../../img/user-icon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-publicacion-footer {
    background-color: white;
    
    width: 100%;
    height: 50px;

    padding: 10px;

    gap: 5px;

    display: flex;
    align-items: center;
}

.box-publicacion-img-container {
    display: flex;
    overflow-x: auto; /* Permite el scroll horizontal */
    gap: 10px; /* Espaciado entre imágenes */
    width: 100%; /* El contenedor ocupa todo el ancho disponible */
    scroll-snap-type: x mandatory; /* Ajusta el scroll a cada imagen */
}

.box-publicacion-img {
    flex: 0 0 auto; /* No permite que las imágenes cambien de tamaño */
    width: 100%; /* Cada imagen ocupa el 100% del contenedor */
    height: 500px; /* Altura fija de las imágenes */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-snap-align: start; /* Centra las imágenes al hacer scroll */
}
@media screen and (max-width: 1000px) {
    .box-publicacion-img {
        height: 300px;
    }
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    transition: opacity 0.3s;
}

.dot.active {
    opacity: 0.65;
    background-color: var(--azul);
}

.descripcion {
    padding: 10px 0;
    margin-left: 15px;
    font-size: 15px;
}

  
.evento-banner {
    width: 100%; 
    height: 450px;
  
    background-image: url("../../img/navidad.webp");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.evento-banner {
    margin-top: var(--height-header);
}
@media screen and (max-width: 1000px) {
    .evento-banner {
        margin-top: var(--height-header-mobile);
        height: 300px;
    }    
}

.evento-header {
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: 15px 0px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    top: var(--height-header);
    position: sticky;
    z-index: 900; 
}
@media screen and (max-width: 1000px) {
    .evento-header {
        top: var(--height-header-mobile);
    }    
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.main-evento{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-evento {
    width: 100%;
    background-color: white;
    padding: 20px 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  
    margin: 20px;

    border-radius: 20px;
}
@media screen and (max-width: 1000px) {
    .main-evento {
        width: 100%;
    }
    .box-evento {
        padding: 20px 20px;
    }    
}

.eventos-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.calendar {
    width: 150px;
    height: 150px;
    background-color: white;

    border-radius: 30px;
    overflow: hidden;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.calendar-header {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 25px;
}

.calendar-body {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 60px;
}





.perfil-box {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    position: relative;
    text-align: center; /* Centra el contenido */
    padding-top: 60px; /* Espacio para la imagen */

    overflow: hidden;
}

.perfil-header {
    width: 100%;
    height: 120px;
    background-color: #b0b0b0;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out; /* Aplica transición al contenedor */
    border-bottom: 1px solid #ccc; /* Borde inferior */
}
.perfil-header:hover, .perfil-header:focus {
    transform: scale(1.1);
}
/*
.perfil-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.perfil-header:hover img, .perfil-header:focus img {
    transform: scale(1.1); 
}*/

.perfil-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
    overflow: hidden;
}
.perfil-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Aplica transición a la imagen */
}
.perfil-foto:hover img, .perfil-foto:focus img {
    transform: scale(1.1); /* Agranda la imagen al 110% */
}

.perfil-info {
    margin-top: 110px; /* Espacio para que no se superponga con la imagen */
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.perfil-info h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.perfil-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.perfil-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo blanco semitransparente */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.btn-login {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-login:hover {
    background-color: #0056b3;
    scale: 1.1;
}

.center-text {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    text-align: center;
}

.opciones-bar-separator {
    margin-left: 20px;
    margin-bottom: 10px;

    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;

    width: 100%;
    padding-right: 80px;

}

.opciones-bar-item {
    display: flex;
    align-items: center;
    padding: 5px 0;

    padding-right: 100px;
}

a.opciones-bar-link {
    padding: .625rem 0;
    color: black;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.15rem;

    padding: 10px 20px;

    margin-left: 20px;

    transition: all 0.3s ease-in-out;

    overflow: hidden;
    border-radius: 15px;
}

.opciones-bar-link span {
    margin-left: 10px;

    font-size: 1rem;
}

a.opciones-bar-link:hover {
    background-color: rgba(2, 77, 223, 0.8);
    color: white;
    border-left: 3px solid #ffffff;
    width: 100%;

    border-radius: 15px;
    scale: 1.05;
}

/* Modal */
.modal-content {
    border-radius: 15px !important;
}

.modal-body {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea#publicacion-texto {
    resize: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.modal-archivos {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: auto;
}


.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icono:hover {
    background-color: #e0e0e0;
}

.icono i {
    font-size: 1.5rem;
    color: #333;
}

.modal-usuario {
    width: 100%;

    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 10px;
}

.modal-usuario-foto {
    width: 50px;
    height: 50px;
}

.modal-usuario-foto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.btn-publicar {
    background-color: var(--azul);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.btn-publicar:hover, .btn-publicar:focus {
    transform: scale(1.05);
    opacity: 0.8;
    outline: none;
}