:root {
    --height-header: 130px; 
    --height-header-mobile: 100px;
}

:root {
    --azul: rgba(2, 77, 223, 1);
    --amarillo: #ffc107;
    --gris: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 

    width: 100%;

    margin: 0; 
    padding: 0; 
}

header {
    width: 100%; 
    height: var(--height-header);
    
    /*background-color: var(--azul);*/
    background-image: linear-gradient(to right, rgba(2, 77, 223, 0.8), rgba(2, 77, 223, 0.8)), url('../../img/Fondo.png');

    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow: hidden; 

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;
}
@media (max-width: 1000px) {
    header {
        height: var(--height-header-mobile);   
    }
}

/* LOGO */
.logo-container {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
    text-align: center; 
    margin-top: 0;
}
.logo-container img {
    padding: 15px;
    max-height: var(--height-header); 
    object-fit: contain; 
}
@media (max-width: 1000px) {
    .logo-container img {
        max-height: var(--height-header-mobile);
        padding: 10px;
    }
}

/* HEADER BOTÓN MENÚ */
.btn-menu {
    color: white;
    background-color: transparent;
    border: none;
    padding: 5px;
    font-size: 40px;

    display:  none;

    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    cursor: pointer;
}
@media (max-width: 1000px) {
    .btn-menu {
        display: flex;
        font-size: 30px;
    }
}

.scale-btn {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.scale-btn:hover, .scale-btn:focus{
    transform: translateY(-50%) scale(1.3
    );
    opacity: 0.5;
    outline: none;
}
.scale-btn:active {
    transform: translateY(-50%) scale(0.9);
}





.wrapper {
    height: 100px; /* Altura del header */

    /* Botones a los extremos, logo al centro */
    padding: 10px 20px; /* Espaciado interno */
    background-color: rgba(5, 5, 5, 0.7);
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    position: relative; /* Permite el centrado absoluto del logo */
}

/* HEADER BOTÓN INCIAR SESIÓN */
.btn-iniciarses§ion {
    background-color: transparent; /* Color de fondo */
    color: white; /* Color del texto */
    border: 2px solid #ffffff;
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    box-shadow: 0 0 2px #ffffff, /* Brillo sutil cerca del texto */ 0 0 5px #e0e0e0, /* Brillo medio grisáceo */ 0 0 8px #b0b0b0; /* Brillo difuso */
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); /* Transición suave */
}

.btn-iniciarsesion:focus {
    outline: none; /* Elimina el contorno al enfocar */
}

.btn-iniciarsesion:hover {
    background-color: #ffffff; /* Color al pasar el cursor */
    color: black;

    transform: scale(1.1); /* Reduce ligeramente el tamaño */
    box-shadow: 0 5px 8px rgba(255, 255, 255, 0.6); /* Sombra suave */
}

.btn-iniciarsesion:active {
    transform: scale(0.95); /* Reduce ligeramente el tamaño */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más sutil */
}

/* BOTÓN PÉRFIL */
.btn-perfil img {
    max-width: 50px; /* Ajusta el tamaño del logo */
    transition: transform 0.3s ease-in-out; /* Transición suave para la imagen */
}

.btn-perfil {
    background-image: url('../../img/user-icon.png');
    width: 50px;
    height: 50px;
    cursor: pointer; /* Cursor de mano */
    transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;

    border-radius: 50%;
    border: 2px solid white;

    background-size: cover; /* O usa 'contain' si quieres ver toda la imagen */
    background-position: center;
    background-repeat: no-repeat;
}

.btn-perfil:hover, .btn-perfil:focus {
    transform: scale(1.1); /* Reduce ligeramente el tamaño */
    opacity: 0.5;
    outline: none;
}

.btn-perfil:active {
    transform: scale(0.9); /* Reduce ligeramente el tamaño */
}


/* Barra lateral */
#sidebar {
    width: 450px;
    height: calc(100vh - var(--height-header));

    display: flex;
    position: fixed;

    left: -260px;
    top: var(--height-header);

    z-index: 999;

    flex-direction: column;

    background-color: rgba(0, 83, 170, 0.7);
    backdrop-filter: blur(10px);

    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out, opacity 0.4s ease-in-out;

    opacity: 1;

    display: none;
}

@media (max-width: 1000px) {
    #sidebar {
        width: 100%;
        height: calc(100vh - var(--height-header-mobile));
        top: var(--height-header-mobile);

        display: flex;
    }
}

#sidebar.expand {
    transform: translateX(260px);
    opacity: 1;
}

.sidebar-space {
    background-color: #393939;
    width: 100%;
    height: 12px;
}

.sidebar-separator {
    font-size: 0.75rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    
    padding: 0.8rem 1.8rem 0.2rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.sidebar-link {
    color: #fff;
    text-decoration: none;


}
/*
.opciones-bar-item {
    display: flex;
    align-items: center;
    padding: 5px 0;

    padding-right: 90px;
}

*/

/* Icono */
.sidebar-link i {
    font-size: 1.15rem;
}

.sidebar-link span {
    margin-left: 10px;

    font-size: 1rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    transition: all 0.3s ease-in-out;
}

.sidebar-link i {
    font-size: 1.15rem;
}

a.sidebar-link:hover {
    background-color: white;
    color: rgba(2, 77, 223, 0.8);

    border-left: 3px solid #ffffff;
    width: 100%;
    border-radius: 15px;
    scale: 1.05;
    /*
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #ffffff;
    width: 100%;
    */
}

.sidebar-nav {
    padding: 10px 0px 10px 0px;
    flex: 1 1 auto;
}

.sidebar-footer {
    display: flex;
    align-items: center;
}


.main {
    margin-top: var(--height-header);
    width: 100%;

    display: grid;
    grid-template-columns: 25% 50% 25%; 
    align-items: start;
}
@media screen and (max-width: 1000px) {
    .main {
        margin-top: var(--height-header-mobile); 
        grid-template-columns: 100%; /* Solo una columna */
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenido { 
        width: 90%;
    }
    .opciones, .perfil {
        display: none;
    }
}

.opciones, .perfil {
    position: sticky;
    top: calc(var(--height-header) + 20px);
    align-self: start; 
    background-color: white;
}

.perfil {
    padding: 0 50px;
    
}

.opciones::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 60px; 
    width: 1px; 
    height: calc(100vh - var(--height-header));
    background-color: rgb(200, 200, 200);
}

.contenido {
    background-color: white;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    padding-top: 20px;
}



.box-crear-publicacion {
    width: 100%;

    background-color: white;
    border-radius: 15px;
    overflow: hidden;

    border: 1px solid var(--gris);

    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);

    text-decoration: none;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.box-crear-publicacion:hover, .box-crear-publicacion:focus {
    transform: scale(1.05);
    text-decoration: none;
}

.box-crear-publicacion-header {
    width: 100%;
    padding: 15px 20px;
    
    display: flex;
    align-items: center;
    gap: 15px;
}
.box-crear-publicacion-header-foto {
    width: 50px;
    height: 50px;
    border-radius: 50%;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
    
    flex-shrink: 0; /* Evita que se reduzca */
}

.box-crear-publicacion-header-foto img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.box-crear-publicacion-header-texto {
    flex: 1;
    height: 50px;

    background-color: var(--gris);
    color: black;
    border: 1px solid black;

    border-radius: 20px;
    padding: 10px 20px;

    display: flex;
    align-items: center;
}

.box-crear-publicacion-footer {
    width: 100%;
    height: 50px;

    background-color: white;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}
.box-crear-publicacion-footer i {
    font-size: 20px;
    color: var(--primer-color);
}
.box-crear-publicacion-footer span {
    font-size: 15px;
    color: var(--primer-color);
}



.box-publicacion {
    width: 100%;
    background-color: white;
    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.box-publicacion-header {
    background-color: white;
    
    width: 100%;
    height: 50px;

    padding: 10px;

    display: flex;
    align-items: center;
}

.box-publicacion-header-user {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%; /* Si quieres que sea redonda */
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.box-publicacion-header-user img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.box-publicacion-footer {
    background-color: white;
    width: 100%;
    min-height: 50px;
    height: auto;
    padding: 10px;

    gap: 5px;
}



.box-publicacion-buttons {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    gap: 10px;
}
.box-publicacion-buttons button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 25px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}
.box-publicacion-buttons button:hover, .box-publicacion-buttons button:focus {
    transform: scale(1.1);
    opacity: 0.8;
    outline: none;
}
.box-publicacion-buttons button:active {
    transform: scale(0.9);
}

.box-publicacion-comentarios {
    display: none;
    margin-top: 10px;
    padding: 5px 5px;
}

.box-publicacion-comentarios p {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.box-publicacion-comentarios strong {
    margin: 0;
    padding: 0;
}

.comentario {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    text-align: center;
}

.agregar-comentario {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 18px;

    width: 100%;
}

.enviar-comentario {
    background-color: var(--azul);
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}
.enviar-comentario i {
    font-size: 20px;
}
.enviar-comentario:hover, .enviar-comentario:focus {
    transform: scale(1.05);
    opacity: 0.8;
    outline: none;
}
.enviar-comentario:active {
    transform: scale(0.9);
}

.descripcion {
    padding: 10px 0;
    margin-left: 5px;
    font-size: 15px;
}

.descripcion strong {
    font-weight: bold;
}

.box-publicacion-media-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto; /* Hacer que todo el contenedor sea desplazable horizontalmente */
}

.box-publicacion-media-container-media {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    scroll-snap-type: x mandatory; /* Asegura que se haga un "snap" (alineación) al desplazarse */
    overflow-x: auto; /* Asegura el desplazamiento horizontal */
}

.box-publicacion-media-item {
    flex: 0 0 auto; /* No expandir ni contraer */
    width: 100%;
    height: 500px;
    scroll-snap-align: start; /* Alinea las fotos y videos al comienzo del contenedor */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.box-publicacion-img-container {
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    gap: 10px; 
    width: 100%; 
}

.box-publicacion-img {
    flex: 0 0 auto; 
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-snap-align: start; 
}
@media screen and (max-width: 1000px) {
    .box-publicacion-img {
        height: 300px;
    }
}

.box-publicacion-video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    scroll-snap-type: x mandatory; 
    overflow-x: auto; 
}

.box-publicacion-video {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1000px) {
    .box-publicacion-video {
        height: 300px;
    }
}
.box-publicacion-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-publicacion-video.active {
    display: block; 
}


.box-publicacion-img.active {
    display: block; /* Solo la imagen activa se muestra */
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    transition: opacity 0.3s;
}

.dot.active {
    opacity: 0.65;
    background-color: var(--azul);
}
  
.evento-banner {
    width: 100%; 
    height: 480px;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0)), url('../../img/Fondo.png');
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.evento-banner {
    margin-top: var(--height-header);
}
@media screen and (max-width: 1000px) {
    .evento-banner {
        margin-top: var(--height-header-mobile);
        height: 300px;
    }    
}

.evento-header {
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: 15px 0px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    top: var(--height-header);
    position: sticky;
    z-index: 900; 
}
@media screen and (max-width: 1000px) {
    .evento-header {
        top: var(--height-header-mobile);
    }    
}

.nav {
    gap: 10px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover {
    background-color: rgba(252, 194, 29, 0.8);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.main-evento{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-evento {
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  
    margin: 20px;

    border-radius: 20px;

    overflow: hidden;
}

.eventos-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.evento-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.evento-imagen, .evento-descripcion {
    width: calc(50% - 10px);
}

.evento-descripcion {
    position: relative;
    padding: 20px;
    font-size: 15px;
    color: black;
    text-align: justify;
}
.descripcion-texto {
    flex: 1; /* ocupa el resto del espacio */
}

.evento-imagen {
    margin-top: 20px;

    border-top-left-radius: 20px;

    background-image: url('../../img/naavidad2.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
    .main-evento {
        width: 100%;
    }  

    .evento-info {
        gap: 0px;
    }
    .evento-imagen, .evento-descripcion {
        width: 100%;
    }

    .evento-imagen {
        height: 300px;
        margin-top: 0px;
        border-top-left-radius: 0px;
    }
}

.calendar {
    width: 120px;
    height: 120px;
    background-color: white;

    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
    float: left; /* hace que el texto lo rodee */
    margin-right: 20px; /* espacio entre calendario y texto */
    margin-bottom: 5px;
}

.calendar-header {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 0, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 22px;
}

.calendar-body {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 40px;
}





.perfil-box {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    position: relative;
    text-align: center; /* Centra el contenido */
    padding-top: 60px; /* Espacio para la imagen */

    overflow: hidden;
}

.perfil-header {
    width: 100%;
    height: 120px;
    background-color: #b0b0b0;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ccc; /* Borde inferior */
}
.perfil-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.perfil-header:hover img, .perfil-header:focus img {
    transform: scale(1.1); 
}

.perfil-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid white;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.perfil-foto img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Aplica transición a la imagen */
}
.perfil-foto:hover img, .perfil-foto:focus img {
    transform: scale(1.1); /* Agranda la imagen al 110% */
}

.perfil-info {
    margin-top: 110px; /* Espacio para que no se superponga con la imagen */
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.perfil-info h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.perfil-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.perfil-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo blanco semitransparente */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.btn-login {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-login:hover {
    background-color: #0056b3;
    color: white;
    scale: 1.1;
    text-decoration: none;
}
.btn-login:active {
    scale: 0.9;
}

.center-text {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    text-align: center;
}

.opciones-bar-separator {
    margin-left: 20px;
    margin-bottom: 10px;

    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;

    width: 100%;
    padding-right: 80px;

}

.opciones-bar-item {
    display: flex;
    align-items: center;
    padding: 5px 0;

    padding-right: 90px;
}

a.opciones-bar-link {
    padding: .625rem 0;
    color: black;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;

    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.15rem;

    padding: 10px 20px;

    margin-left: 20px;

    transition: all 0.3s ease-in-out;

    overflow: hidden;
    border-radius: 15px;
}

.opciones-bar-link span {
    margin-left: 10px;

    font-size: 1rem;
}

a.opciones-bar-link:hover {
    background-color: rgba(2, 77, 223, 0.8);
    color: white;
    border-left: 3px solid #ffffff;
    width: 100%;

    border-radius: 15px;
    scale: 1.05;
}

/* Modal */
.modal-content {
    border-radius: 15px !important;
}

.modal-body {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

textarea#publicacion-texto {
    resize: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.modal-archivos {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: auto;
}


.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icono:hover {
    background-color: #e0e0e0;
}

.icono i {
    font-size: 1.5rem;
    color: #333;
}

.modal-usuario {
    width: 100%;

    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 5px;
}

.modal-usuario-foto {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.modal-usuario-foto img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.btn-publicar {
    background-color: rgba(2, 77, 223, 0.8);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.btn-publicar:hover, .btn-publicar:focus {
    transform: scale(1.05);
    opacity: 0.8;
    outline: none;
}

.box-publicacion-header-options {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box-publicacion-header-options button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.box-publicacion-header-options button:hover, .box-publicacion-header-options button:focus {
    transform: scale(1.1);
    opacity: 0.8;
    outline: none;
}

.menu-opciones {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: rgb(255, 255, 255);
    width:auto;
    z-index: 100;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.menu-opciones ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-opciones li a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 8px;
}

.menu-opciones li a:hover {
    background: var(--amarillo);
    scale: 1.05;
}

.menu-opciones li a:active {
    scale: 0.9;
}

.eventos-main {
    margin-top: calc(var(--height-header) + 30px);

    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
@media screen and (max-width: 1000px) {
    .eventos-main {
        margin-top: calc(var(--height-header-mobile) + 30px);
    
        display: flex;
        flex-direction: column;
    }
}

.evento-container {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url("../../img/Fondo.png");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 45%;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;

    text-decoration: none;

    transition: all 0.3s ease-in-out;

    padding: 15px;

    color: white;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
@media screen and (max-width: 1000px) {
    .evento-container {
        width: 90%;
        height: 200px;
    }    
}

.evento-container:hover {
    transform: scale(1.03);
    text-decoration: none;
    color: white;
}

.evento-texto h2 {
    font-size: 35px;
    margin: 0;
    padding: 0;
}
.evento-texto p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}